<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>login</title>
    <link href="css/bootstrap/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/modular/global.css" rel="stylesheet" type="text/css"/>
	<link href="css/modular/login-regsiter.css" rel="stylesheet" type="text/css"/>
</head>
<body class="login-body">
		<div class="login-big">
			<div class="login-headr"><p><img src="images/login-logo.png" /></p><p class="word">账号登录</p></div>
			<div class="login-wrapper">
				<div class="login-left"><img src="images/login-bj.png"></div>
				<div class="login-right radius">
					<div class="login-title">登录</div>
					<div class="login-form-title">
						<ul>
							<label>密码输入错误，请重新输入</label>
							<p class="right"><a href="#"><i class="icon iconfont">&#xe613;</i>手机快速登录</a></p>
						</ul>
					</div>
					<div class="login-form ">
						<ul>
							<li class="int-border radius">
								<p class="int-icon"><i class="icon iconfont">&#xe60c;</i></p>
								<p><input type="text" class="int-text logon-int" placeholder="请输入用户名"></p>
							</li>
							<li class="int-border radius">
								<p class="int-icon"><i class="icon iconfont">&#xe609;</i></p>
								<p><input type="password" class="int-text logon-int" placeholder="请输入用户名"></p>
							</li>
							<li>
								<p><input type="text" class="int-text logon-yz-int radius" placeholder="请输入验证码"></p>
								<p><img src="images/yzm.jpg"></p>
							</li>
							<li>
								<p><a href="#">注册</a></p>
								<p class="right"><a href="#">忘记密码</a></p>
							</li>
							<li>
								<input type="button" class="btn btn-blue login-btn radius20" value="登 录">
							</li>
							<li>
								<p>合作账号登录</p>
								<p class="line"></p>
							</li>
							<li>
								<p><a href="#" class="share share1"></a></p>
								<p><a href="#" class="share share2"></a></p>
								<p><a href="#" class="share share3"></a></p>
								<p><a href="#" class="share share4"></a></p>
								<p><a href="#" class="share share5"></a></p>
								<p><a href="#" class="share share6"></a></p>
								<p><a href="#" class="share share7 none-ma"></a></p>	
							</li>
						</ul>
					</div>
					
				</div>
			</div>
			
			
		</div>
</body>
</html>
